html {
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(163, 222, 222);
  padding: 1.2rem;
}

header p {
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
}

header nav ul li {
  padding: 0rem 1rem;
}

.aside-one {
  background-color: darkseagreen;
  padding: 1.2rem;
}

.aside-one h2,
.aside-two h2 {
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.aside-one ul,
.aside-two ul {
  list-style: none;
  line-height: 24px;
}

.aside-two {
  background-color: rgb(154, 222, 214);
  padding: 1.2rem;
}

.main-content {
  padding: 1.2rem;
}

.main-content h1 {
  font-size: large;
}

.main-content p {
  padding: 0.8rem 0rem;
}

footer {
  align-items: center;
  background-color: lavender;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  padding: 1.2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {

    header {
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
    }

    header p {
        padding: 0;
    }

    .main-container {
        margin-top: 10vh;
        display: flex;
    }

    .aside-one {
        align-self: stretch;
        flex: 1 20%;
        font-size: 14px;
    }

    .aside-two {
        flex: 1 15%;
        font-size: 14px;
        order: 1;
    }

    .main-content {
        flex: 2 65%;
        max-height: 90vh;
        overflow-y: auto;
    }

    footer {
        font-size: 0.8rem;
        gap: 6px;
        position: fixed;
        bottom: 0;
        width: 100vw;
    }
}
